li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(255, 212, 133);
  }

  #orderCounter {
    background-color: rgb(176, 179, 169);
    align-content: center;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(202, 119, 41)
  }

  label {
    font-weight: 200;
    font-size: medium;
  }